span.i-arrow-r{
    width: .17rem;
    height: .20rem;
    position: absolute;
    right:0.15rem;
    top:50%;
    margin-top: -0.1rem;
  }
  .banck{
    background: #fff;
    position: fixed;
    z-index: 200;
    width: 100%;
  }
  .banck-li-wp {
    overflow-y: scroll;
  }

  .banck-li-wp ul{
    height: 2.50rem;
  }

  .banck-li {
    width: 72%;
    margin: auto;
    border-bottom: 0.5rem solid #e6e6e6;
    font-size: .14rem;
    color: #333333;
    letter-spacing: -0.47px;
    height:.50rem;
    line-height: .50rem;
    text-align: center;
  }

  // input.input-text {
  //   right:0.3rem;
  // }

  .help2 {
    height: 0.1rem;
    background-color: #e6e6e6;
  }

  .input {
    width: 95%;
    margin-left: 0.15rem;
    position: relative;
  }
  input {
    position: absolute;
    right: 0.15rem;
    text-align: right;
    top:50%;
    margin-top: -0.1rem;
  }

  .sign-code {
    margin-right: 0.15rem;
    color: #333;
    left:0;
  }

  .login {
    width: 77%;
    margin:0.3rem auto 0;
  }

  .banck-wp {
    height: 2.78rem;
    width: 100%;
    /*overflow: hidden;*/
    background: #F2F2F2;
    position: fixed;
    bottom: 0;
    z-index: 6;
  }
  .choose {
    display: inline-block;
    line-height: 0.4rem;
    font-size: .15rem;
    color: #666666;
    letter-spacing: 0.01px;
    margin-left: 0.15rem;
  }

  .true {
    width:0.64rem;
    height: 0.24rem;
    line-height: 0.24rem;
    text-align: center;
    float: right;
    background: #CA88ED;
    border-radius: 100px;
    font-size: .13rem;
    color: #FFFFFF;
    letter-spacing: 0.01px;
    margin-top: 0.08rem;
    margin-right: 0.15rem;
  }
