body,html{
    background: #fcfcfc;
}
.content{
    width:100%;
    cursor: pointer;
    height:2rem;
    background: url(../img/community/topimg.png) no-repeat ;
    background-size: 100%;
    position: relative;
}
.content .character{
    position: absolute;
    font-size: .15rem;
    color: #B497C4;
    left: .75rem;
    top: .45rem;
    width: 2.11rem;
    height: .21rem;
}

.content .img-change{
    position: absolute;
    left: 1.66rem;
    top: 1.36rem;
    width: .21rem;
    height: .18rem;
}

.btn{
    margin: .3rem 0 0 .4rem;
}

.btn button{
    width: 2.8rem;
    height: .36rem;
    background: #F2F2F2;
    border-radius: 1rem;
}

.footer{
    width: 3.2rem;
    height: 1.4rem;
    margin: .7rem 0 0 .2rem;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: .17rem;
}

.footer h3{
    font-size: .13rem;
    color: #666666;
}
.footer ul{
    width: 2.79rem;
    /* height: .8rem; */
    font-size: .12rem;
    line-height: .2rem;
    color: #999999;
    margin: .16rem .15rem .13rem .26rem;
    background: #fffafa;
}

.footer ul li{
    text-align: left;
    list-style: disc;
}

button{
    outline: none;
    border:none;
}    