body,html{
    height: 100%;
    background: #f7f7f7;
}
.content{
    margin-left: 0 !important;
    position: relative;
}
.content .margin_left{
    text-align: center;
    color:#FF7832;
}
.content .img-one{
    width: .51rem;
    height: .22rem;
    left: 1.52rem;
    top: 1.34rem;
}

.content-one{
    position: absolute;
    left: 1rem;
    top: .7rem;
    font-size: .12rem;
    color: #B497C4;
}

.content-one i{
    display: inline-block;
    width:.14rem;
    height: .14rem;
    background: url(../img/community/ic_money.png) no-repeat;
    background-size: 100%;
}

.content-one span{
    display:inline-block;
    vertical-align: -.02rem;
    font-size: .16rem;
    color: #B497C4;
}

.btn .color{
    background: #CA88ED;
    color:#fff;
}

.mask{
    background: rgba(221, 221, 221, .5);
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 88;
    display: none;
}

.confirm{
    width: 2.8rem;
    height: 2.4rem;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    z-index: 99;
    background: #fff;
    text-align: center;
}

.confirm-bank,.confirm-contract,.confirm-message{
    display: none;
}

.message{
    width:100%;
    height:100%;
    padding:0 .3rem;
    box-sizing: border-box;
}

.message h3{
    margin-top: .22rem;
    margin-bottom: .2rem;
    font-size: .18rem;
    color: #666666;
    text-align: center;
}

.message .manage{
    font-size: .12rem;
    color: #666666;
    text-align: left;
}
.procedure{
    text-align: left;
    font-size: .12rem;
    color: #666666;
    margin-bottom: .14rem;
}

.purple{
    font-size: .12rem;
    color: #CA88ED;
    text-align: left;
    margin-bottom: .24rem;
}

.affirm{
    width:1.6rem;
    height: .36rem;
    color:#fff;
    background: #CA88ED;
    border-radius: 1rem;
}

.confirm-bank p.manage,.confirm-message  p.manage{
    text-align: center;
    margin-top: .5rem;
    font-size: .16rem
}

.confirm-bank .affirm,.confirm-message .affirm{
    margin-top: .5rem;
    font-size: .16rem
}

.subsidy {
   text-align: center;
    margin-top: .25rem;
    font-size: .14rem ;
}
.subsidy p{
    color:#979393;
}

.subsidy p span{
    display: inline-block;
}

.subsidy p b{
    display: inline-block;
  font-weight: normal;
  margin: 0 3px;
  vertical-align: bottom;
}

.subsidy p span.allowance{
    color: #FF7832;
}

.subsidy p i{
    font-style: normal;
    color:#979393;
}