body,html{
    background: #F6F6F6;
    width: 100%;
    height:100%;
}

.nav{
    width: 100%;
    height:100%;
}

.search{
    width: 100%;
    height:.5rem;
    padding: .1rem .15rem;
    box-sizing: border-box;
    
}
.search p{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    height: .3rem;
}
.search p i{
    position: absolute;
    display: block;
    left: 0.15rem;
    top: 6px;
    z-index: 9;
    width: .15rem;
    height: .15rem;
    background: url(../img/team/search.jpg) no-repeat ;
    background-size: 100%;
}
.search p input{
    background: #FFFFFF;
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 2.85rem;
    height: 100%;
    padding-left: .35rem;
    box-sizing: border-box;
}

input::-webkit-input-placeholder{
    font-family: SourceHanSans-Normal;
    font-size: .13rem;
    color: #AAAAAA;
}

.search p span{
    font-size: .15rem;
    color: #666666;
}

.content{
    width: 100%;
    height: .7rem;
    background: #fff;
    margin-bottom: .1rem;
    
}

.content ul{
    width: 100%;
    height:100%;
}

.content ul li{
    float:left;
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* border-right:1px solid #D31313; */
}

.content ul li:after{
    content: "";
    pointer-events: none; 
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 200%;
    clear: both;
    left: 0%;
    top: 0%;
    border-right:1px solid #E6E6E6;
    -webkit-transform:scale(0.5);
    -webkit-transform-origin: 0 0;
    transform:scale(0.5);
    transform-origin: 0 0;
}

.content ul li.active p{
    color:#B060D0;
}

.content  li p:first-child{
    font-size: .16rem;
    color: #555555;
}

.content  li p:nth-child(2){
    font-size: .12rem;
    color:#999999;
}

.content  li p.fontSize{
    font-size: .14rem;
    color: #555555;
}

.message{
    /* width: 100%; */
    /* overflow-x: hidden; */
}

.messageList {
    margin-top: .1rem;
    background: #fff;
    width: 100%;
    overflow: hidden;
}

.message-header{
    padding: .15rem .15rem .1rem;
    box-sizing: border-box;
    height: .6rem;
    width: 100%;
    position: relative;
    
}

.message-header:after{
    content: "";
    pointer-events: none; 
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 200%;
    clear: both;
    left: 0.15rem;
    top: 0%;
    border-bottom:1px solid #E6E6E6;
    -webkit-transform:scale(0.5);
    -webkit-transform-origin: 0 0;
    transform:scale(0.5);
    transform-origin: 0 0;
}

.message-header p{
    margin-bottom: 2px;
}

.left{
    float: left;
    display: flex;
    flex-direction: column;
}

.right{
    float: right;

}
.font11{
    display: inline-block;
    font-family: PingFangSC-Light;
    font-size: .11rem;
    color: #AAAAAA;
}

.message .member{
    width: 100%;
    height: .63rem;
}

.message .member p{
    float: left;
    width: 25%;
    padding: .12rem 0 ;
    box-sizing: border-box;
    color: #999999;
    text-align: center;
    position: relative;
}

.message .member p span{
    display: block;
}

.message .member p span:first-child{
    font-size: .16rem;
    display: inline-block;
    margin-bottom: 2px;
}

.message .member p span:nth-child(2){
    font-size: .12rem;
}

.message .member p:after{
    content: "";
    pointer-events: none; 
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 170%;
    clear: both;
    left: 0%;
    top: 10%;
    border-right:1px solid #E6E6E6;
    -webkit-transform:scale(0.5);
    -webkit-transform-origin: 0 0;
    transform:scale(0.5);
    transform-origin: 0 0;
}

.message .member p:last-child:after{
    border-right:0;
} 

.message-header p i{
    width: .14rem;
    height:.13rem;
    display: inline-block;
    margin-left: 4px;
}

.message-header  p  i.memberCommissioner{
    background: url(../img/team/ic_Commissioner.png) no-repeat;
    background-size: 100%;
    vertical-align: 0px;
}


.message-header  p  i.memberPurple{
    background: url(../img/team/ic_Purple.png) no-repeat;
    background-size: 100%;
}

.message-header  p  i.memberRed{
    background: url(../img/team/ic_red.png) no-repeat;
    background-size: 100%;
}

.confirm{
    z-index: 999;
    position: absolute;
    border-radius: 5px;
    left:0;
    right:0;
    top:2.5rem;
    bottom:0;
    margin: auto;
    font-size: .12rem;
    text-align: center; 
    background: #F6F6F6;
    display: none;
}

.confirm img{
    width:.73rem;
    height:.51rem;
    margin-bottom: 5px;
}

.confirm span{
    display: block;
    color:#666666;
}

