
  .pop {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 7;
    width: 82%;
    height: 1.6rem;
    background-color: #ffffff;
    margin: auto;
    border-radius: .10rem;
  }

  .pop span {
    width: 90%;
    height: 1.12rem;
    line-height: .21rem; ;
    margin-left: 0.14rem;
    padding-top: 0.15rem;
    display: inline-block;
    font-size: .14rem;
    color: #555555;
    letter-spacing: 0.01px;

  }

  .pop div {
    text-align: center;
    height: 0.46rem;
    line-height: 0.46rem;
    font-size: .17rem;
    color: #555555;
    letter-spacing: 0.01px;
    border-top: 1px solid #e6e6e6;
  }

  .login {
    width: 82%;
    margin: auto;
    background-color: #9D6AC8;
    margin-top: 0.4rem;
    text-align: center;
    border-radius: 100px;
    height: .36rem;
    line-height: .36rem;
    color: #fff;
  }

  .sum{
    width: 95%;
    margin-left: 0.15rem;
    font-family: Roboto-Regular;
    font-size: .40rem;
    color: #111111;
    letter-spacing: 0.03px;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #e6e6e6;
  }

  .sum input {
    width: 50%;
    font-size: .40rem;
    height:89%;
    line-height: 1rem;
    color: #111111;
    letter-spacing: 0.01px;
  }

  .place {
    color: #ccc;
    font-size: .20rem;
    left: 0.6rem;
    position: absolute;
    text-indent: 0.08rem;
    line-height: 1.1rem;
  }

  input::-webkit-input-placeholder{
    color: #ccc;
    font-size: .20rem;
  }


  .withdraw {
    height: 0.4rem;
    line-height: 0.4rem;
    background-color: #f6f6f6;
  }

  .withdraw-span1{
    float: left;
    margin-left: 0.15rem;
  }

  .withdraw-span2{
    float: right;
    margin-right: 0.15rem;

  }


  .earning-wp {
    position: relative;
    margin: auto;
    width: 100%;
    height: 0.8rem;
    background: #FFFFFF;
  }

  .earning-wp span {
    display: inline-block;
    width: 32%;
    height: 0.4rem;
    margin-top: 0.2rem;
    border-right: 1px solid #d8d8d8;
    text-align: center;
  }

  .earning-wp span:last-child{
    border: none;
  }

  .earning-wp .num{
    font-family: Roboto-Regular;
    font-size: .16rem;
    color: #555555;
    letter-spacing: 0;
    margin-bottom: 0.03rem;
  }

  .earning-wp .intro{
    font-family: PingFangSC-Light;
    font-size: .12rem;
    color: #999999;
    letter-spacing: 0;
  }

