
.mine p{
  color: #B060D0;
}
  .mine {
    position: relative;
    width: 83%;
    margin: auto;
    margin-top: .6rem;
    height: 2.85rem;
    overflow: hidden;
   
  }

  .mine dl{
  	width:100%;
    height: 0.9rem;
    text-align: center;
  }

  .mine dt{
    width: .34rem;
    height: .33rem;
    margin: auto;
    margin-top: 20%;
    margin-bottom: .15rem;
  }

  .data {
    background: url(../img/team/ic_user_my.png) no-repeat;
    background-size: 100%;
  }
  .card {
    background: url(../img/team/ic_user_my_card.png) no-repeat;
    background-size: 100%;
  }
  .code {
    background: url(../img/team/ic_user_my_2.png) no-repeat;
    background-size: 100%;
  }
  .share {
    background: url(../img/team/ic_user_my_share.png) no-repeat;
    background-size: 100%;
  }
  .group{
  	background: url(../img/team/ic_group.png) no-repeat;
    background-size: 100%;
  }
	.expand{
  	background: url(../img/team/ic_expand.png) no-repeat;
    background-size: 100%;
  }