
  .login {
    position: fixed;
    bottom: 0.2rem;
    width: 77%;
    left:50%;
    margin-left: -1.4rem;
    background: #CA88ED;
    border-radius: 100px;
  }

  .show-bg {
    width: 65%;
    height: 0.1rem;
    margin:0.26rem auto 0;
    background: url(../img/min/card_show_bg.png) no-repeat;
    background-size: 100%;
  }

  .mycard {
    width: 85%;
    height: 1.6rem;
    margin:0.4rem auto 0;
    background: url(../img/min/card_bank.png) no-repeat;
    background-size: 100%;
  }

  .mycard p{
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
  }

  .mycard p:first-of-type{
    font-size: .17rem;
    line-height: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0.7px;
  }

  .mycard p:last-of-type{
    font-size: .20rem;
    line-height: 0.4rem;
    color: #FFFFFF ;
    letter-spacing: 0;
  }
