

  .help2 {
    height: 0.1rem;
    background-color: #e6e6e6;
  }

  .input {
    width: 95%;
    margin-left: 0.15rem;
    position: relative;
  }
  input[type='text'] {
    width: 1rem;
    position: absolute;
    right: 0.15rem;
    line-height: 0.2rem;
    text-align: right;
    top: 50%;
    margin-top: -0.1rem;
    font-size: 0.13rem;
  }

  .sign-code {
    margin-right: 0.15rem;
    color: #333;
    left:0;
  }

  .login {
    width: 77%;
    margin:0.3rem auto 0;
  }

